<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button  type="button" class="btn-close shadow-sm text-danger" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <form>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="examplw@example.com" value="">
              </mat-form-field>
              
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="********" value="">
              </mat-form-field>
            
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button mat-button color="warn" data-bs-dismiss="modal">Close</button>
        <button mat-button color="primary">Login</button>
      </div>
    </div>
  </div>
</div>