<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-body">
                 <a routerLink="account"mat-button color="primary" style="float: right;">Back</a>

                <b><h4 class="text-primary">Order Details</h4></b>
                <table class="table">
                    <thead class="shadow-sm bg-light">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Food Item</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Pakora</td>
                        <td>4</td>
                        <td>60</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
    
</div>
<br>