<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-body">
                 <a routerLink="orders"mat-button color="primary" style="float: right;">Orders</a>
                <button mat-button color="primary" style="float: right;">Edit Account</button>   
             
                <b><h4 class="text-primary">Account Details</h4></b>
                 <hr>
                 <b><p>Name : Shuvam Dutta</p></b>
                 <b><p>Email : shuvam@gmail.com</p></b>
                 <b><p>Phone : 8456321456</p></b>
                </div>
                <div class="card-body">
                    <b><h4 class="text-primary">Address</h4></b>
                    <hr>
                     <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h6 class="card-subtitle mb-2 text-muted">Address 1</h6>
                            <p>City :  Chuchura</p>
                            <p>Dist : Hooghly</p>
                            <p>Pin Code : 700006</p>
                            <p>State : West Bengal</p>
                            <p>Country : India</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<br>